<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- FONT AWESOME -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- CUSTOM CSS -->
  <!-- <link rel="stylesheet" href="stylesheets/landing-page.css"> -->
  <title>Update List</title>
  <style>
  
  * {
  font-family: "Lucida Console", Monaco, monospace;
}

body {
  background-color: #2f2f2f;
  margin: 0 auto;
}

.container-fluid {
  padding-top: 25px;
  padding-bottom: 25px;
}

.bg-1 {
  background-color: #2f2f2f;
  color: #777;
  letter-spacing: 4px;
}

.bg-2 {
  background-color: #2f2f2f;
  border-top: 1px solid #777;
  color: #777;
  letter-spacing: 4px;
}

.main-title {
  font-size: 50pt;
}

h3 {
  color: rgb(17, 118, 212);
}

.bg-3 {
  background-color: #777;
  color: black;
  letter-spacing: 2px;
}

#study, #code, #shop, #task {
  color: black;
}

#features {
  /* border: 2px solid #2f2f2f; */
  border-radius: 2px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #777;
}

#featuresblocks {
  padding-left: 2px;
}

.navbar {
    background-color: #2f2f2f;
    color: bisque;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #2f2f2f;
    border-bottom: 1px solid #777;
    border-radius: 0;
    margin: 0;
    font-size: 12px;
    letter-spacing: 4px;
}

.navbar-nav li a:hover {
    color: bisque !important;
}

.navbar-header a:hover {
  color: bisque !important;
}

.bg-4 { 
  background-color: #2f2f2f;
  border-top: 1px solid #777;
  color: #777;
  letter-spacing: 4px;
}

.icons {
  padding-top: 9px;
}

.copyright {
  padding-top: 10px;
}

#hearticon {
  color: tomato;
}

#linkedin, #github {
  color: #777;
  margin-left: 10px;
}

.form-group {
  color: #777;
  padding-top: 20px;
  /* text-align: center; */
}

.login-container {
  padding-top: 50px;
}

.btn-primary {
  width: 100%;
}
.btn-primary-x {
  background-color: transparent; 
}

.h2-dashboard {
  color: #777;
  text-align: center;
  padding-bottom: 20px;
  /* border: 1px solid #777; */
  background-color: #777;
  color: #2f2f2f;
  border-radius: 3px;
  padding: 5px;
}

.current-list-title {
  color: #2f2f2f;
  background-color: #777;
  border: 1px solid #777;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
}

.task-titles {
  color: #777;
}

.span-class {
  background-color: #777;
  color: #2f2f2f;
  padding: 5px;
  border: 1px solid #777;
  border-radius: 5px;
}

img {
  width: 15%;
  padding-left: 20px;
}

  </style>
</head>
<body>
<!-- NAV BAR -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">DOO-DOO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
  <h1 class="current-list-title"><%= list.title %></h1>

      <form action="/<%= list.id %>/update" method="POST">
        <div class="form-group">
          <label for="update-list">Add Tasks</label>
          <input id="update-list" type="text" name="task" class="form-control" placeholder="Enter New Task...">
          <span><button type="submit" class="btn btn-primary">Add</button></span>
        </div>
      </form>
      <!-- <span>
        <form action="/<%= list.id %>/delete" method="POST">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </span> -->

      <div class="container">
        <ul>
          <% list.tasklist.forEach(listItem => { %>
            <li class="task-titles">
              <span class="span-class">
                <%= listItem.task %>                
                <button type="submit" class="btn btn-primary-x" formaction="URL">&#10005;</button>
              </span> 
            </li>
          <% }) %>
        </ul>

              <span>
                <form action="/<%= list.id %>/delete" method="POST">
                  <button type="submit" class="btn btn-primary">Delete</button>
                </form>
              </span>
      </div>
  </div>
</div>
</body>
</html>